body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url(img/fondo3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    text-align: center;
    font-family:'Segoe UI', sans-serif;
    font-size: 40px;
    background: rgba(255, 212, 218, 0.5);
    width: 100%;
    height: 500px;
    line-height: 500px;
    color: rgb(240, 194, 79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
overflow: hidden;
border: 1px;
transition: 0.4s ease;
}

header:hover {
    transform: translateY(-10px);
    border-color: var(--dorado);
    box-shadow: 10px 10px 100px rgba(126, 112, 31, 0.492);
}

.enlaces {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 50px 50px;
}

.enlace-spa {
    text-decoration: none;    
    color: rgb(240, 194, 79);          
    font-family: 'Segoe UI', sans-serif; 
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s;
}

.enlace-spa:hover {
    color: white;
    cursor: pointer;
}

.descripcion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    padding: 20px;
    background-color:  rgba(255, 212, 218, 0.2);
    width: 40%;
    margin-top: 60px;
    color: white;
    height: 100px;
    font-size: 20px;
}
.descripcion p {
    margin: 0;
}

.Terapias-Tradicionales{
    text-align: center;
    font-size: 25px;
    font-family:'Segoe UI', sans-serif;
    background: rgba(255, 212, 218, 0.5);
    width: 100%;
    color: rgb(240, 194, 79);
}

.contenedor-masajes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.Masaje-Relajante,.Masaje-Drenaje-Linfatico,.Masaje-Deportivo,.Masaje-Descontracturante,.Masaje-Prenatal,.Veloterapia,.Masaje-Piedras,.Tratamiento-Exfoliante,.reafirmante{
    border: 2px solid black; 
    background-color: rgba(218, 165, 32, .9); 
    padding: 10px;
    border-radius: 10px; 
    margin: 10px;
    max-width: 300px; 
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Masaje-Piedras {
background-color: rgba(218, 165, 32, .9) ;
border-radius: 15px;
overflow: hidden;
border: 1px;
transition: 0.4s ease;
}

.Masaje-Piedras:hover {
    transform: translateY(-10px);
    border-color: var(--dorado);
    box-shadow: 0 10px 20px gold;
}

.tratamientos-faciales {
    text-align: center;
    font-size: 25px;
    font-family:'Segoe UI', sans-serif;
    background: rgba(255, 212, 218, 0.2);
    width: 100%;
    color: rgb(240, 194, 79);
}


.terapias-button{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 100%; 
    border-radius: 8px;
    margin-top: auto;
}

.depilaciones-cera {
    text-align: center;
    font-size: 25px;
    font-family:'Segoe UI', sans-serif;
    background: rgba(255, 212, 218, 0.5);
    width: 100%;
    color: rgb(240, 194, 79); 
}

.piernas {

}